body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.wrapper1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(90deg, #ff8a00 0%, #e52e71 100%); */
    background: url('C:\Users\ADISH\Desktop\React_Projects\project\src\asserts\pexels-irina-iriser-1379636.jpg') top right no-repeat;
    background-size: cover;
}

.fmlogin{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding-left: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    width: 300px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.5s ease;
}
/* 
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

.for{
    color:#acaaaa;
    margin-bottom: 20px;
}

.for:hover{
    color: #0509dc;
}

h1 {
    color: #333;
    font-family: 'Verdana', sans-serif; 
}

.input-box {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.685);
    backdrop-filter: blur(5px);
    color: #7c7878; 
    font-size: 16px;
    /* transition: background 0.3s ease; */
}

input:focus {
    background: rgba(255, 255, 255, 0.5);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.remember-forgot label {
    display: inline-block;
    align-items: center;
}

.remember-forgot input {
    margin-right: 5px;
}

.but {
    background: #3e4095;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* text-decoration: none; */
}

.but:hover {
    background: #0509dc;
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(94, 49, 137, 50);
    /* text-decoration: none; */
}

a:-webkit-any-link{
    text-decoration: none;
    color: #fff;
}
